services:
  fastapi-app:
    build:
      context: .
    # We use ONLY the env_file to keep things clean and secure
    env_file:
      - .env  
    volumes:
      - ./app:/code/app
    ports:
      - "8080:8080"
    environment:
      - PYTHONUNBUFFERED=1
      # We removed the hardcoded DATABASE_URL from here 
      # so Docker is FORCED to look at your .env file instead.